@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    
}
body{  
    background-image: linear-gradient(to top,#045edb,#07a8f2,#04d0db);
    background-attachment: fixed;
}
/*HEADER*/
header{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#logo-header{
    padding-top: 50px;
}
#nav{
    margin-bottom: -19px;
}
#h1-header{
    color: rgba(255, 255, 255, 0.911);
}
.bg-blue{
    background-color: rgba(10, 10, 10, 0.034) !important;
}
.navbar-wite .navbar-brand {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-nav .nav-link:hover, .navbar-wite .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-nav .show > .nav-link,
.navbar-wite .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.911); /*cor menu*/
}
.navbar-wite .navbar-toggler {
color: rgba(0, 0, 0, 0.55);
border-color: rgba(0, 0, 0, 0.1);
}
.navbar-wite .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-wite .navbar-text {
color: rgba(0, 0, 0, 0.55);
}
.navbar-wite .navbar-text a,
.navbar-wite .navbar-text a:hover,
.navbar-wite .navbar-text a:focus {
color: rgba(0, 0, 0, 0.9);
}

/*ASSIDE*/
.asside h1, p{
    margin: 20px 40px;
    color: #032342; 
    font-weight: 500; 
}
h1,h2{
    padding-top: 20px;
}
.asside{
    background-color: rgba(255, 255, 255, 0.979);
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}
.videos iframe{
    box-shadow: 2px 2px 5px #04152c;
}
.videos h3{
    margin: 20px 0px 20px;
}
/*videos index*/
@media only screen and (max-width: 560px){
    iframe{
        width: 90%;
        height: 284px;
        
    }
    .videos{
        background-color: white;
        
    }
}
@media only screen and (min-width:900px){
    .videos div{
        display: inline-block;
        margin: auto;
    }
    iframe{
        width: 800px;
        height: 450px;
        margin: 20px 0px 0px 20px;
    }
}
/*img - about us*/
.rpg img{
    border: 1px solid rgba(255, 255, 255, 0.74);
    box-shadow: 2px 2px 5px #0000007c;
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 700px){
    .rpg img{
        width: 90%;
        margin-bottom: 30px;
    }
    .texto p{
        text-align: left;
    }
    .carousel{
        width: 90%;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.74);
        box-shadow: 2px 2px 5px #0000007c;
        border-radius: 10px;
        padding: 5px;
    }
    .asside .texto-carousel{
        margin: 0px 0px 20px;
        text-align: center;
     }
}
#about-us p,h1{
    margin: 25px 50px ;
    text-align: left;
    font-size: 15pt;
}

/*carousel*/

@media only screen and (min-width:700px){
    .carousel{
        width: 600px;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.74);
        box-shadow: 2px 2px 5px #0000007c;
        border-radius: 10px;
        padding: 5px;
    }
    .texto p{
        text-align: left;
    }
    .asside .texto-carousel{
        margin: 50px 0px 20px;
        text-align: center;
        position: relative;
    }
    .texto-carousel h1{
        text-align: center;
    }
}
@media only screen and (min-width:1400px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -110px;
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 25px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;
        margin-top: 190px;
    }
}
@media only screen and (min-width:1420px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -110px;
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 25px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;
        margin-top: 160px;
    }
}

@media only screen and (min-width:1440px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -110px;
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 25px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;        
    }
}
@media only screen and (min-width:1460px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -110px;
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 25px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;
        margin-top: 150px;
    }
}
.texto p{
    font-size: 14pt;
}
@media only screen and (min-width:1480px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -110px;
    }
    .texto{
        text-align: left;
        
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 50px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;
       /* margin-top: 85px;*/
       margin-top: 120px;
    }
}

@media only screen and (min-width:1600px){
    .carousel-main{
        display: flex;
    }
    .rpg img{
        margin-left: -200px;
    }
    .carousel-son{
        position: relative;
    }
    .carousel{
        margin-right: 25px;
        
    }
    .carousel-son .texto-carousel{
        margin-bottom: 50px;
        margin-top: 110px;
        /*margin-left: -150px;*/
        margin-left: 0px;
    }
   .carousel{
    margin-right: 90px;
   }
}

/*----->>>FOOTER<<<-----*/
.logo-footer{
    margin-top: -60px;
}
footer{
    position: relative; 
    bottom: 0px;
    width: 100%;
    background-color: #09294A;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase; 
    color: rgba(255, 255, 255, 0.897);  
    font-family: 'Poppins', sans-serif;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background-color: #10aaf1;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #043e5593;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0; 
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background-color: #011b2593;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background-color: #10aaf1c0;
}
.left .content p{
    text-align: justify;
    color: rgba(255, 255, 255, 0.842); 
    font-family: 'Poppins', sans-serif;
}
.center .content .fas{
    font-size: 23px;
    background-color: #011b2593;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: #0A58CA;
}
.center .content .fas:hover{
    background-color: #10aaf1;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.842); 
    font-family: 'Poppins', sans-serif;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background-color: #07a8f262;
    padding-left: 10px;
    border: 1px solid #6d8690;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Poppins', sans-serif;
}
.right form .btnn{
    margin-top: 10px;
}
.right form .btnn button{
    height: 40px;
    width: 100%;
    background-color: #07a8f262;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 00.3s;
    color: rgba(255, 255, 255, 0.705);
    border-radius: 3px;
}
.right form .btnn button:hover{
    background-color: rgba(0, 0, 0, 0.171);
}
.bottom .center{
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
.bottom .center span{
    color: #656565;
    font-family: 'Poppins', sans-serif;
}
.bottom .center a{
    color: #07a8f262;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width:900px){
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
/*carousel*/

